<md-input-container>
    <label>Full Name</label>
    <input
        type="text"
        ng-model="name">
</md-input-container>

<md-input-container fs-file="file">
    <label>File Upload</label>
</md-input-container>


<h3>File</h3>
<div>Mame: {{file.name}}</div>
<div>Last Modified: {{file.lastModified}}</div>
<div>Last Modified Date: {{file.lastModifiedDate}}</div>
<div>Size: {{file.size}}</div>
<div>Type: {{file.type}}</div>

<br><br>
<mb-button ng-click="upload()" class="md-raised md-accent">Upload</mb-button>
